<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<%= will_paginate @articles %>
<div id="articles">
    <%= render 'articles/article' %>
</div>

<%= link_to "New article", new_article_path %>
